.form_section{
    margin: 10px;
    
}
.form-field input{
    width: 100%;
    padding: 15px 25px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form{
    margin: 25px;
}

.button_group{
    display: flex;
    justify-content: space-between;
}

.button_group .btn{
    border: none;
    cursor: pointer;
    background-color: transparent;
    background-image: none;
    color: #9E9E9E;
    margin: 10px;
}